################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/TcpClient/bin/Debug/net8.0
/TcpServcieForNetCore/obj
/UdpClientApp/obj
/通信合集/bin/Debug/net8.0
/通信合集/obj
/TcpServcieForNetCore/bin/Debug/net8.0
/TcpClient/obj
